# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.suo
*.user
*.useros
*.userprefs

# NuGet packages
.nuget/
packages/

# Rider
.idea/

# Resharper
*.DotSettings
*.DotSettings.user

# Local configuration files
appsettings.Development.json
appsettings.Local.json # Si usas un archivo de configuración local específico

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Node.js (if src/frontend uses it)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other common files
Thumbs.db
.DS_Store